#chat-screen {
  background-color: #abc1d1;
  height: 1000vh;
}

#chat-screen .alt-header {
  margin-top: 15px;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  background-color: #abc1d1;
}
#chat-screen .status-bar {
  background-color: #abc1d1;
}
.main-chat {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-chat .chat__timestamp {
  margin-top: 100px;
}
.chat__timestamp {
  color: white;
  background-color: #92a4b2;
  padding: 15px;
  border-radius: 25px;
  font-size: 14px;
}
