#chat-screen {
  background-color: #abc1d1;
  height: 1000vh;
}

#chat-screen .alt-header {
  margin-top: 15px;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  background-color: #abc1d1;
}
#chat-screen .status-bar {
  background-color: #abc1d1;
}
.main-chat {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-chat .chat__timestamp {
  margin-top: 100px;
}
.chat__timestamp {
  color: white;
  background-color: #92a4b2;
  padding: 15px;
  border-radius: 25px;
  font-size: 14px;
  margin-bottom: 15px;
}

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
}

.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 15px;
  margin-right: 12px;
}

.message__author {
  opacity: 0.8;
  font-size: 13px;
  margin-bottom: 8px;
  display: block;
}
.message__info {
  display: flex;
  align-items: flex-end;
}

.message__bubble {
  background-color: white;
  padding: 8px 10px;
  border-radius: 10px;
  border-top-left-radius: 0px;
  margin-right: 5px;
}
.message__time {
  opacity: 0.8;
  font-size: 13px;
}
.message-row__own {
  justify-content: flex-end;
}

.message-row__own .message__bubble {
  background-color: var(--yellow);
  border-top-right-radius: 0px;
  border-top-left-radius: 10px;
  margin-right: 0px;
  margin-left: 5px;
}

.message-row__own .message__info {
  flex-direction: row-reverse;
}
.reply {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
  box-sizing: border-box;
  align-items: center;
}

.reply_column:last-child > i,
.reply_column:last-child button {
  position: absolute;
  right: -3px;
  top: 2px;
}

.reply_column button:focus,
.reply_column button:active {
  outline: none;
}

.reply i {
  opacity: 0.5;
}

.reply_column button i {
  opacity: 1;
}
.reply_column:last-child > i {
  right: 40px;
  top: 10px;
}
.reply .reply_column:first-child {
  width: 10%;
}
.reply .reply_column:last-child {
  width: 90%;
  position: relative;
}

.reply input {
  padding: 10px;
  width: 100%;
  border: var(--main-border);
  border-radius: 20px;
}

.reply_column button {
  background-color: var(--yellow);
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
